@charset "UTF-8";
@font-face {
    font-family: "Agri";
    src: url(midias/AgrightRegular-qZ5dr.otf);
}
@font-face {
    font-family: "made";
    src: url(midias/MADEAvenuePERSONALUSE-Regular.otf);
}
@font-face {
    font-family: "phil";
    src: url(midias/Philosopher-Regular.ttf);
}
h1{
    font-family: "Agri";
    text-align: center;
}
h2{
    font-family: "made";
    text-align: center;
    background-color: rgba(255, 255, 255, 0.562);
    position: center;
}
main{
    text-align: center;
    border-radius: 5px black ;
    background-color: beige     ;
    
}
a {
    text-decoration: none;
    text-align: center;
    margin: 10px 10px 10px 10px;
    border: 5px 5px 5px 5px;
    font-family: "phil";
    font-size: large;
    color: rgb(248, 241, 241) ;
}
a:hover{
   
    background-color: #ffd9009f;
    text-decoration:none;
}
p{
    background-color: rgb(255, 255, 255);
    font-family: "Timer";
    margin: auto;
    text-decoration: solid;
    border-style: none;
    width: auto;
    border: 1px solid black;
}  
body{
    background-image: url(midias/flat-lay-brazilian-food-meals-with-copy-space.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    
}
p{
    text-align: justify;
    height: auto;
    width: auto;

}
section{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;


}
footer{
    text-align: center;
    background-color: black;
    color: white;
}