@font-face {
    font-family: "Agri";
    src: url(midias/AgrightRegular-qZ5dr.otf);
}
@font-face {
    font-family: "Timer";
    src: url(midias/TIMESS__.ttf);
}
@font-face {
    font-family: "phil";
    src: url(midias/Philosopher-Regular.ttf);
}
h1{
    font-family: "Agri";
    text-align: center;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
main{
    text-align: center;
    
}
a {
    text-decoration: none;
    text-align: center;
    margin: 10px 10px 10px 10px;
    border: 5px 5px 5px 5px;
    font-family: "phil";
    font-size: large;
    color: black ;
}
a:hover{
   
    background-color: #FFD700;
    text-decoration:none;
}
p{
    background-color: antiquewhite;
    font-family: "Timer";
}  
body{
    background-image: url(midias/Queen\ royal\ logo\ for\ beauty\ clinic\,\ spa\ or\ skincare\ \(1\).png);
    background-repeat:repeat-x;
}
.conteudo{
    height: 500px;
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
    
}
p{
    text-align: justify;

}
div#video{

    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    text-align: center;
}